<section class="about-section" id="about">
  <div class="about-content-wrap container">
    <h2 class="about-title">About Super Fizzy: Jungle Adventure</h2>

    <p class="about-description">
      Super Fizzy: Jungle Adventure is a fun and immersive action platformer that takes you through the jungle with
      Fizzy, a lovable elephant on a quest to bring justice to his world. The game offers:
    </p>

    <ul class="about-features-list">
      <li class="about-feature-item">
        <div class="about-feature-icon">
          <img src="./img/general/about-img-1.png" alt="Platformer gameplay icon" />
        </div>
        <h3 class="about-feature-title">Thrilling Platformer Gameplay:</h3>
        <p class="about-feature-text">Jump, run, and dodge through action-packed levels.</p>
      </li>

      <li class="about-feature-item">
        <div class="about-feature-icon">
          <img src="./img/general/about-img-2.png" alt="Challenge icon" />
        </div>
        <h3 class="about-feature-title">Simple Yet Challenging:</h3>
        <p class="about-feature-text">Easy-to-learn controls with progressively harder levels.</p>
      </li>

      <li class="about-feature-item">
        <div class="about-feature-icon">
          <img src="./img/general/about-img-3.png" alt="Magical worlds icon" />
        </div>
        <h3 class="about-feature-title">Magical Worlds:</h3>
        <p class="about-feature-text">Explore stunning environments full of hidden treasures and secrets.</p>
      </li>
    </ul>
    <div class="about-feature-item last-item">
      <div class="about-feature-icon">
        <img src="./img/general/about-img-4.png" alt="Collectibles icon" />
      </div>
      <h3 class="about-feature-title">Collectibles:</h3>
      <p class="about-feature-text">Unlock companions and power-ups to aid you in overcoming obstacles.</p>
    </div>
  </div>
</section>
