<section class="gallery-section">
  <div class="gallery-content-wrap container">
    <h2 class="gallery-title">Gallery</h2>
    <div class="gallery-swiper swiper">
      <ul class="gallery-swiper-wrapper swiper-wrapper">
        <li class="gallery-swiper-slide swiper-slide"><img src="./img/general/gallery-slide-1.png" alt="" class="gallery-img"></li>
        <li class="gallery-swiper-slide swiper-slide"><img src="./img/general/gallery-slide-2.png" alt="" class="gallery-img"></li>
        <li class="gallery-swiper-slide swiper-slide"><img src="./img/general/gallery-slide-3.png" alt="" class="gallery-img"></li>
        <li class="gallery-swiper-slide swiper-slide"><img src="./img/general/gallery-slide-4.png" alt="" class="gallery-img"></li>
        <li class="gallery-swiper-slide swiper-slide"><img src="./img/general/gallery-slide-5.png" alt="" class="gallery-img"></li>
        <li class="gallery-swiper-slide swiper-slide"><img src="./img/general/gallery-slide-6.png" alt="" class="gallery-img"></li>
        <li class="gallery-swiper-slide swiper-slide"><img src="./img/general/gallery-slide-7.png" alt="" class="gallery-img"></li>
      </ul>
    </div>
    <div class="gallery-navigation">
      <button class="gallery-button-prev" aria-label="Previous slide">
        <img class="g-arrow" src="./img/mobile/arrow-left.png" alt="">
      </button>
      <button class="gallery-button-next" aria-label="Next slide">
        <img class="g-arrow" src="./img/mobile/arrow-right.png" alt="">
      </button>
    </div>
    <div class="gallery-pagination"></div>
  </div>
</section>