<header class="header-section">
  <div class="header-content-wrap container">
    <div class="header-content">
      <a href="/"><img class="header-logo" src="./img/general/header-logo.png" alt=""></a>
      <button class="burger-menu"><img src="./img/mobile/header-menu.png" alt=""></button>
      <div class="header-img-wrap"><img class="header-desktop-logo" src="./img/general/header-logo.png" alt="" /></div>
      <ul class="header-list">
        <li class="header-list-item"><a class="header-link" href="#home">Home</a></li>
        <li class="header-list-item"><a class="header-link" href="#about">About</a></li>
        <li class="header-list-item"><a class="header-link" href="#features">Features</a></li>
        <li class="header-list-item"><a class="header-link" href="#how-to-play">How to Play</a></li>
        <li class="header-list-item"><a class="header-link" href="#rewards">Rewards</a></li>
        <li class="header-list-item"><a class="header-link" href="#explore">Explore the Jungle</a></li>
        <li class="header-list-item"><a class="header-link" href="#reviews">Reviews</a></li>
        <li class="header-list-item"><a class="header-link" href="#contact">Contact</a></li>
        <li class="header-list-item"><a class="header-link" href="#faq">FAQ</a></li>
      </ul>
    </div>
    <div class="backdrop container">
      <ul class="backdrop-list">
        <li class="backdrop-list-item"><a class="backdrop-link" href="#home">Home</a></li>
        <li class="backdrop-list-item"><a class="backdrop-link" href="#about">About</a></li>
        <li class="backdrop-list-item"><a class="backdrop-link" href="#features">Features</a></li>
        <li class="backdrop-list-item"><a class="backdrop-link" href="#how-to-play">How to Play</a></li>
        <li class="backdrop-list-item"><a class="backdrop-link" href="#rewards">Rewards</a></li>
        <li class="backdrop-list-item"><a class="backdrop-link" href="#explore">Explore the Jungle</a></li>
        <li class="backdrop-list-item"><a class="backdrop-link" href="#reviews">Reviews</a></li>
        <li class="backdrop-list-item"><a class="backdrop-link" href="#contact">Contact</a></li>
        <li class="backdrop-list-item"><a class="backdrop-link" href="#faq">FAQ</a></li>
      </ul>
    </div>
  </div>
</header>

