<section class="hero-section" id="hero">
  <div class="hero-content-wrap container">
    <h1 class="hero-title">Embark on the Epic Journey with Super Fizzy: Jungle Adventure!</h1>

    <div class="hero-desktop-wrap">
      <img class="hero-image" src="./img/general/hero.png" alt="Super Fizzy jungle adventure game preview" />
      <div class="hero-text-wrap">
        <p class="hero-subtitle">
          Join Fizzy, the brave elephant, as he journeys through magical jungles to uncover hidden treasures and defeat
          obstacles. Adventure awaits!
        </p>
        <p class="hero-description">
          Super Fizzy: Jungle Adventure is an exciting action platformer where you’ll explore mystical worlds, collect
          treasures, and unlock pets to assist you in your quest for justice. With simple controls and stunning HD graphics,
          the game is designed for players of all ages to enjoy, with offline play available anytime.
        </p>
        
            <button class="hero-cta" aria-label="Play now"><img class="play-now" src="./img/general/play-now.png" alt=""></button>
      </div>
    </div>
  </div>
</section>
