@import './header.scss';
@import './home.scss';
@import './about.scss';
@import './features.scss';
@import './companions.scss';
@import './how-to-play.scss';
@import './rewards.scss';
@import './explore.scss';
@import './reviews.scss';
@import './contact.scss';
@import './faq.scss';


.container {
  max-width: 375px;
  margin: 0 auto;

  @include media(desktop) {
    max-width: 1440px;
  }
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

h1,
h2 {
  font-family: 'Luckiest Guy', sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #fff;
  @include media(desktop) {
    font-size: 40px;
  }
}


main {
  background: #996e43;
  max-width: 375px;
  margin: 0 auto;
  background-image: url('../img/mobile/leaves.png');
  background-repeat: no-repeat;

  @include media(desktop) {
    max-width: 1440px;
    background-image: url('../img/desktop/leaves-desktop.png');
  }
}
